<h2>Aplicación final del curso</h2>
<hr>
<div class="alert alert-warning" role="alert">
  Para levantar el backend hay que ejecutar el comando <strong>npm run backend</strong>
</div>
<h3>Criterios de aceptación:</h3>
<ul class="list-group">
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" checked disabled>
    Make 4 or more components and interconnect with each other.
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" checked disabled>
    Make 2 or more services and use in the components.
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" checked disabled>
    Make at least 4 routes(pages) with its components.
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Make at least one pipe (filtering, sorting, or others).
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Make at least one directive.
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Make at least 2 forms differently (Reactive and Template ).
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Make forms validations
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" checked disabled>
    Store the data somewhere and access them by rest API using observables or RX.
  </li>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    At least one of the components and one service needs to have unit testing at < 80% of coverage
  </li>
</ul>
